{
    "file": 1,
    "format": 1
}{
    "trackers": [],
    "dynamic_trackerlist_url": "https://raw.githubusercontent.com/ngosang/trackerslist/master/trackers_all.txt",
    "last_dynamic_trackers_update": 0,
    "dynamic_trackers_update_interval": 1,
}
