---
all:
  hosts:
    0.server.fqdn:
      ansible_user: root
    1.server.fqdn:
      ansible_user: test
    k8s00.server.fqdn:
      ansible_user: test
      k3s_role: master
    k8s01.server.fqdn:
      ansible_user: test
      k3s_role: node
    k8s02.server.fqdn:
      ansible_user: test
      k3s_role: node
    k8s03.server.fqdn:
      ansible_user: test
      k3s_role: node

k3s_master:
  hosts:
    k8s00.server.fqdn:

k3s_node:
  hosts:
    k8s01.server.fqdn:
    k8s02.server.fqdn:
    k8s03.server.fqdn:

weather_station:
  hosts:
    weather-station-00.server.fqdn:
    weather-station-01.server.fqdn:
